@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-150px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 12px "HelveticaNeue-Light", sans-serif;
  background-color: #302f2e;
}
#main {
  position: relative;
  max-width: 850px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 30px 0 50px;
  background: #aabcc4;
}
#nav {
  position: absolute;
  top: 20px;
  left: 70px;
}
h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: normal;
  color: #2b4957;
  margin: 60px 10px 30px 20px;
}
#title {
  cursor: crosshair;
}
#help-icon {
  position: relative;
  top: 10px;
  display: inline-block;
  font-size: 50px;
}
#rewards {
  float: right;
  position: absolute;
  top: 60px;
  right: 70px;
  font-size: 30px;
  line-height: 75px;
  color: white;
  animation: bounce 0.6s ease-out 1;
  cursor: crosshair;
  user-select: none;
}
a {
  color: white;
  font-size: 13px;
}
#complete-overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  min-height: 100%;
  background: url("../img/sloth.webp");
  background-color: #222;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#complete-overlay img {
  width: 100%;
}
#results-link {
  cursor: pointer;
  color: white;
  font-size: 13px;
  margin: 23px 20px 20px;
}
#results-title {
  display: none;
  font-weight: normal;
  color: white;
  margin: 20px;
}
#results-title span {
  cursor: pointer;
  color: white;
  font-size: 13px;
}
#results {
  display: none;
  flex-wrap: wrap;
  padding: 0 20px;
}
.complete-message {
  margin-bottom: 30px;
}
.spacer {
  height: 14px;
}

.tooltip {
  cursor: pointer;
  position:relative;
}
.tooltip .balloon {
  min-width:200px;
  top:66px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#666666;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:1;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}
.tooltip .balloon p {
  padding: 0;
  margin: 0 0 5px;
}
/* when hover is supported */
@media (hover: hover) {
  .tooltip:hover .balloon {
    display:block;
  }
}
.tooltip .balloon i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}
.tooltip .balloon i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.tooltip .balloon.show {
  display: block;
}

@media only screen and (max-width: 630px) {
  #main {
    padding: 0 15px;
  }
  #help-icon {
    display: none;
  }
  h1 {
    font-size: 45px;
  }
  #rewards {
    line-height: 67px;
    right: 32px;
  }
  #complete-overlay {
    background-size: cover;
  }
}
