#form-fields {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
}
.field {
  cursor: pointer;
  padding: 10px 0 10px 35px;
  margin-bottom: 5px;
  width: 44%;
}
.field input {
  font-size: 30px;
  padding: 5px;
  border: 3px solid #4e6c79;
  width: 74%;
  border-radius: 5px;
  color: #333;
}
.field input.correct {
  color: green;
  border-color: green;
}
.field input.incorrect {
  color: red;
  border-color: red;
}
.repeat {
  font-size: 50px;
  color: white;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.results-word {
  background: white;
  color: green;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.results-word.completed-word {
  background: green;
  color: white;
}
.results-word h3 {
  display: inline-block;
  font-weight: bold;
  padding: 0 10px;
  cursor: crosshair;
}
.results-word span {
  display: inline-block;
  padding: 0 10px;
}

@media only screen and (max-width: 630px) {
  .field {
    width: 90%;
    padding-left: 20px;
  }
}
